@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background: #088;
  margin: 0;
  font: 14px 'Open Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body { background: #000 }
}


body * { font: inherit } /* Chrome ignores the font otherwise... */

button::-moz-focus-inner, input[type=button]::-moz-focus-inner { border: 0 }
button:focus, input[type=button]:focus { outline: 3px solid #26F }
