.avatar {
  min-width: 40px;
  min-height: 40px;

  border-radius: 8px;

  background-color: var(--main-background);
  background-size: contain;
  background-repeat: no-repeat;

  /* This is used as a "default" for anyone without a specific avatar: */
  background-image: url('../../img/default.png')
}

/* TODO: Allow users to set up their own avatar, rather than hard-coding it! */
.avatar[data-user='gobusto'] {
  background-image: url('../../img/gobusto.png')
}

/* Give common *Serv bots a special display picture: */
.avatar[data-user='ChanServ'],
.avatar[data-user='NickServ'] {
  background-image: url('../../img/Kawaii_robot_with_heart_clipart.svg')
}

/* Display certain server messages as though they came from a user: */
.avatar:not([data-user]) {
  background-image: url('../../img/Kawaii_robot_power_clipart.svg')
}
