.channel-list {
  color: var(--misc-text);
  font-style: italic;
}

.channel-list-item {
  cursor: pointer;

  font-style: normal;
  color: var(--main-text);
  text-align: left;

  padding: 8px 12px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--misc-text);

  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "name users"
                       "topic topic";
}

.channel-list-item .name {
  grid-area: name;
  font-weight: bold;
}

.channel-list-item .users {
  grid-area: users;
  color: var(--misc-text);
  text-align: right;
}

.channel-list-item .topic {
  grid-area: topic;
}

.channel-list-item:focus, .channel-list-item:hover {
  background: var(--highlight-background);
}

  .channel-list-item:last-child { border-bottom: none }

.channel-list-item .users::after { content: ' user(s)' }
