.channel-browser > .known-channels {
  max-height: 50vh;
  overflow-y: auto;
  margin-top: 10px;
}

.channel-browser > .cache-time {
  margin-top: 12px;
  border-top: 1px solid var(--misc-text);
  padding-top: 8px;

  text-align: right;
  font-size: 11px;

  color: var(--misc-text);
}
