.channel-flag {
  width: 40px;
  height: 40px;
  overflow: hidden;

  cursor: pointer;
  padding: 0;
  background: none;

  border: 2px solid var(--misc-text);
  border-radius: 8px;
}

.channel-flag::before {
  content: '';
  display: block;
  height: 40px;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../img/cogs.png')
}

.channel-flag.topic-protected.on::before {
  background-image: url('../../img/lock-closed.png')
}

.channel-flag.topic-protected.off::before {
  background-image: url('../../img/lock-open.png')
}

.channel-flag:focus, .channel-flag:hover {
  background: rgba(255, 255, 255, 0.08)
}
