.checkbox {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "label state"
                       "about state";
}

.checkbox > .checkbox-label {
  grid-area: label;
  color: var(--main-text);
  font-size: 16px;
  font-weight: bold;
}

.checkbox > .checkbox-description {
  grid-area: about;
  color: var(--misc-text);
  font-size: 13px;
}

.checkbox > .checkbox-toggle {
  grid-area: state;

  cursor: pointer;
  border: none;
  padding: 8px;
  background: none;

  border-radius: 8px;
  min-width: 50px;
}

.checkbox > .checkbox-toggle.on {
  color: var(--create-text);
  background: var(--create-background);
}

.checkbox > .checkbox-toggle.off {
  color: var(--general-button-text);
  background: var(--general-button-background);
}

.checkbox > .checkbox-toggle:hover,
.checkbox > .checkbox-toggle:focus { filter: var(--button-hover-effect) }
