.emoji-search {
  position: relative;
  height: 0;
  top: -270px;
  width: 300px;
}

.emoji-search .groups {
  background: var(--menu-background);
}

.emoji-search .groups .group {
  /* ... */
}

.emoji-search .groups .group.active {
  /* ... */
}

.emoji-search .items {
  border: 1px solid var(--misc-text);
  background: var(--main-background);
  height: 200px;
  overflow-y: scroll;
}

.emoji-search .items .item {
  /* ... */
}

.emoji-search .items .item:hover, .emoji-search .items .item:focus {
  /* ... */
}
