.input-button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: 0 8px;
  min-width: 92px;

  border:1px solid var(--misc-text);
  background: var(--general-button-background);
  color: var(--general-button-text);
}

.input-button.primary {
  border:1px solid var(--primary-button-background);
  background: var(--primary-button-background);
  color: var(--primary-button-text);
}

.input-button:not(:disabled):focus,
.input-button:not(:disabled):hover {
  filter: var(--button-hover-effect)
}

.input-button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
