.input-wrapper {
  display: grid;
  grid-row-gap: 6px;
  grid-column-gap: 6px;
  grid-template-columns: auto 1fr;
  grid-template-areas: "text hint"
                       "main main";
  align-items: end;
  margin: 8px 0;
}

.input-wrapper > .text {
  grid-area: text;
  color: var(--main-text);
  font-size: 16px;
  font-weight: bold;
}

.input-wrapper > .hint {
  grid-area: hint;
  color: var(--misc-text);
  font-size: 12px;
  margin-bottom: 2px;
  text-transform: lowercase;
}

.input-wrapper > .main {
  grid-area: main;
  display: flex;
}

.input-wrapper > .main > * {
  border-radius: 0;
}

.input-wrapper > .main > *:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-wrapper > .main > *:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input-wrapper > .main > *:not(:last-child) {
  border-right: none !important;
}

.input-wrapper > .main > input:not([type="button"]) {
  border: 1px solid var(--misc-text);
  background: var(--main-background);
  color: var(--main-text);
  padding: 6px 10px;
  font-size: 14px;
}

.input-wrapper > .main > input:not([type="number"]):not([type="button"]) {
  flex: 1
}

.input-wrapper > .main > input[type="number"] {
  width: 70px
}
