.loading-screen {
  width: 580px;
  border-radius: 32px;

  margin: 64px auto;
  padding: 32px;
  text-align: center;
  font-size: 20px;

  color: var(--misc-text);
  background-color: var(--main-background);
}

.loading-screen::before {
  content: '';
  display: block;
  min-height: 32px;
  margin-bottom: 16px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../img/loading.gif')
}
