.main-screen {
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "left top right"
                       "left centre right"
                       "left bottom right";
}

.left-bar {
  grid-area: left;
  overflow-y: auto;
}

.right-bar {
  grid-area: right;
  overflow-y: auto;
}

.info-bar {
  grid-area: top;
}

.message-list {
  grid-area: centre;
  overflow-y: scroll;
}

.editor {
  grid-area: bottom;
}
