.message-editor .message-form {
  display: flex;
}

.message-editor .message-form .text {
  flex: 1;

  border: 2px solid var(--misc-text);
  background: var(--main-background);
  color: var(--main-text);
  padding: 4px;
}
