.message {
  padding: 4px 8px;
  color: var(--main-text);

  display: grid;
  grid-template-areas: "avatar name nick time"
                       "avatar text text text";
  grid-template-columns: 40px 0fr 1fr 0fr;

  grid-column-gap: 8px;
  align-items: center;
}

/* Hide these for the second/third/etc. sequential message by the same user: */
.message.more .avatar { display: none }
.message.more .name   { display: none }
.message.more .nick   { display: none }
.message.more .time   { display: none }

.message .avatar {
  grid-area: avatar;
}

.message .name {
  grid-area: name;
  white-space: nowrap;

  font-weight: bold;
}

.message .nick {
  grid-area: nick;

  font-size: 12px;
  color: #888;
}

.message .text {
  grid-area: text;
}

.message .time {
  grid-area: time;

  font-size: 12px;
  color: #333;
}

.message.normal { /* ... */ }
.message.autoreply { /* ... */ }
.message.notice { background: #DDF }
.message.error {  background: #FDD }
.message.motd { color: #00F }
.message.join { background: #DFD }
.message.leave { background: #EEE; color: #444 }
.message.topic { background: #FFD }
.message.unknown { color: #F00 }

.message .name:empty::before { content: 'Server' }
.message .nick:not(:empty)::before { content: '@' }

.message.join .text::before { content: 'Joined: ' }
.message.join .text:empty::before { content: 'Joined' }

.message.leave .text::before { content: 'Left: ' }
.message.leave .text:empty::before { content: 'Left' }

.message.topic .text::before { content: 'Changed topic: ' }
.message.topic .text:empty::before { content: 'Cleared the topic' }

.message.autoreply .text { font-style: italic; }
.message.autoreply .text::before { content: 'Auto-reply: ' }
