@keyframes modal-fade {
  from { opacity: 0 }
  to { opacity: 1 }
}

/* This is the "overlay" that covers the screen behind the modal: */
.modal-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.5);
  animation: modal-fade 0.5s;
}

/* This is the actual "content" container: */
.modal {
  width: 600px;
  margin: 48px auto;
}

.modal-head {
  display: flex;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  color: var(--menu-text);
  background: var(--menu-background);
}

.modal-body {
  padding: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  color: var(--main-text);
  background: var(--main-background);
}

.modal-title {
  flex: 1;
  font-weight: bold;
  font-size: 16px;
}

.modal-close {
  cursor: pointer;
  padding: 0;
  border: 0;
  background: none;

  height: 20px;
  width: 20px;
  overflow: hidden;

  color: var(--misc-text);
}

.modal-close::before {
  display: block;

  font-weight: bold;
  font-size: 32px;
  line-height: 18px;
  content: '×';
}

.modal-close:hover, .modal-close:focus {
  color: #D66; /* var(--delete-background) */
}
