.right-bar {
  width: 200px;
  padding: 8px;
  background: var(--menu-background);
  color: var(--menu-text);
  overflow-y: auto;
}

.channel-user {
  display: flex;
}

.channel-user .nick {
  font-weight: bold;
}

.channel-user .operator {
  color: lime;
}

.channel-user .half-operator {
  color: cyan;
}

.channel-user .voice {
  color: yellow;
}
