.side-bar-button {
  cursor: pointer;
  border-radius: 4px;

  height: 24px;
  overflow: hidden;
  text-align: center;

  padding: 0;
  border: none;
  color: var(--misc-text);
  background: none;
}

.side-bar-button.create, .side-bar-button.remove {
  max-width: 24px;
}

.side-bar-button.create::before, .side-bar-button.remove::before {
  display: block;
  height: 30px;

  font-size: 22px;
  font-weight: 900;
  line-height: 22px;
}

.side-bar-button.create:focus, .side-bar-button.create:hover {
  color: var(--create-text);
  background: var(--create-background);
}

.side-bar-button.remove:focus, .side-bar-button.remove:hover {
  color: var(--delete-text);
  background: var(--delete-background);
}

.side-bar-button.create::before { content: '+' }
.side-bar-button.remove::before { content: '×' }
