.side-bar-item {
  display: flex;
  padding: 4px;
  border-radius: 2px;
}

.side-bar-item .label {
  flex: 1;
  background: none;
  border: none;
  color : var(--menu-text);
  text-align: left;
  padding: 0;
  cursor: pointer;

  /* For very long channel names (or anything else with no spaces): */
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-bar-item.active { background: var(--highlight-background) }
.side-bar-item.active .label { color: var(--main-text) }


.side-bar-item.header {
  font-weight: 900;
  font-size: 15px;
}
