.sign-in-screen {
  width: 590px;
  margin: 50px auto;

  padding: 32px 48px;
  background: var(--main-background);
  border-radius: 8px;

  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header header"
                       "error error"
                       "websocket-proxy websocket-proxy"
                       "advanced-options advanced-options"
                       "nick name"
                       "actions actions";
}

.sign-in-screen > .advanced-options {
  grid-area: advanced-options;

  background: var(--highlight-background);
  border-radius: 8px;
  margin: 0 -8px;
  padding: 0 8px;

  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "irc-host server-password"
}

.sign-in-screen > .error { grid-area: error }
.sign-in-screen > .websocket-proxy { grid-area: websocket-proxy }
.sign-in-screen > .irc-host { grid-area: irc-host }
.sign-in-screen > .server-password { grid-area: server-password }
.sign-in-screen > .nick { grid-area: nick }
.sign-in-screen > .name { grid-area: name }

.sign-in-screen::before {
  grid-area: header;

  font-weight: 900;
  text-align: center;
  font-size: 32px;
  content: 'Sign in';
  padding-bottom: 24px;
  border-bottom: 1px solid var(--misc-text);
  margin-bottom: 8px;
  color: var(--main-text);
}

.sign-in-screen > .actions {
  grid-area: actions;
  margin-top: 12px;
}

.sign-in-screen > .actions > .connect-button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: var(--primary-button-background);
  color: var(--primary-button-text);
  padding: 8px;
  font-size: 14px;
  font-weight: bold;

  display: block;
  width: 100%;
}

.sign-in-screen > .actions > .connect-button:hover,
.sign-in-screen > .actions > .connect-button:focus {
  filter: var(--button-hover-effect)
}
