.topic-editor {
  display: flex;
}

.topic-editor .topic-text {
  flex: 1;
  color: var(--inverse-text);
  margin: auto;

  width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topic-editor .topic-text:empty::before {
  color: var(--misc-text);
  font-style: italic;
  content: 'No topic'
}

.topic-editor .topic-form {
  flex: 1;
  display: flex;
}

.topic-editor .topic-form .topic-input {
  flex: 1;
}
