.user-menu {
  padding-bottom: 8px;
  border-bottom: 1px solid #555;
  margin-bottom: 8px;
}

.user-menu > .body {
  padding-top: 8px;
  border-top: 1px solid #555;
  margin-top: 8px;
}

.user-menu > .head {
  display: flex;
}

.user-menu > .head > .icon {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.user-menu > .head > .nick {
  flex: 1;
  margin: auto 0;
  margin-left: 7px;

  font-size: 18px;
  font-weight: bold;
}
